
h1 {
    color: rgb(17, 149, 182);
    text-align: center;
    font-style: italic;
}
button{
    width: 12vh;
    height: 7vh;
    border: none;
    border-radius: 25%;
    color: white;
    background-color: green;
}