#outer{
    background-color: aqua;
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

#inner{
    border: 2px solid green;
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    margin: 30px;
}

#test{
    background-color: aqua;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    padding: 12px;
    color: blueviolet;
}

#box{
    background-color: aqua;
    width: 200px;
    height: 50px;
}

#box h4{
    padding: 12px;
    color: blueviolet;
}


#content {
    width: 300px;
    height: 400px;
    background-color: aqua;
    padding: 22px;
}

.xyz {
    background-color: green;
}

#outer{
    background-color: aqua;
    width: 500px;
    height: 500px;
    border: 2px solid red;
}

#inner{
    border: 2px solid green;
    width: 250px;
    height: 250px;
    background-color: blueviolet;
    margin: 30px;
}

#test{
    background-color: aqua;
    width: 400px;
    height: 300px;
    border-radius: 12px;
    padding: 12px;
    color: blueviolet;
}

#box{
    background-color: aqua;
    width: 200px;
    height: 50px;
}

#box h4{
    padding: 12px;
    color: blueviolet;
}


/* Forms */

body {
    padding: 10px 50px;
}

.formdesign {
    font-size: 20px;

}

.formdesign input {
    width: 30%;
    padding: 12px 20px;
    border: 1px solid rgb(0, 179, 255);
    margin: 14px;
    border-radius: 6px;
    font-size: 15px;
}

.formerror {
    color: red;
}

.button {
    border-radius: 9px;
    width: 100px;
    height: 50px;
    font-size: 22px;
    margin: 22px 20px;
}
/* Forms */



h1 {
    color: green;
    text-align: center;
}

h1 {
    color: rgb(0, 136, 255);
    text-align: center;
    font-style: oblique;
}

#content {
    width: 300px;
    height: 400px;
    background-color: aqua;
    padding: 22px;
}

.xyz {
    background-color: green;
}