* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
    color: white;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.gamecontainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(215, 175, 175);
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.imgbox img {
    width: 0;
    transition: width 1s ease-in-out;
}

#reset {
    margin: 5px;
    padding: 6px 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

#reset:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 600px) {
    .gamecontainer {
        flex-wrap: wrap;
    }

    .gameInfo h1 {
        font-size: 1.5rem;
    }

    .container {
        grid-template-rows: repeat(3, 10vw);
        grid-template-columns: repeat(3, 10vw);
    }
     
}